@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #1a1a1c;
  color: #fff;
  text-decoration: none;
}

.coin-app{
  width: 100%;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  margin-top: 20px;
  color: #fff;
}