.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background: gold;
  color: #1A1A1C;
  text-align: center;
  line-height: 75px;
}