.container{
	display: flex;
	flex-direction: row;
}

.side-bar{
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 25px;
	border-right: 2px solid grey;
}

.coin-logo{
	margin-bottom: 20px;
}

.desc-area{
	width: 100%;
	padding: 25px;
	padding-bottom: 15px;
}

.desc-area p{
	padding: 10px;
	text-align: justify ;
}

.market-data{
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
}

.market-rank{
	display: flex;
	margin: 5px;
	/*flex-direction: row;*/
}

.market-price{
	display: flex;
	margin: 5px;
	/*flex-direction: row;*/
	/*align-items: center;*/
}

.market-cap{
	display: flex;
	margin: 5px;
	/*align-items: baseline;*/
	/*flex-direction: row;*/
	/*align-items: center;*/
}

.add-to-watchlist{
  display: flex;
  justify-content: center;
  align-content: center;
  background: gold;
  padding: 10px;
  cursor: pointer;
  color: #1A1A1C;
    /*width: 100%;*/
  font-weight: 500px;
}

.alreadyAdded{
	background-color: red;
}